In [1]:
import pandas as pd
print(pd.__version__)

2.2.3

4. Tạo một vector với các giá trị như sau: 20, 17, 32, 19, 65
- Tạo một series từ vector ở trên.
- Thêm tên cho các dòng của series vừa tạo.
- Lấy giá trị ở dòng thứ 2.
- Lấy giá trị 3 dòng cuối của serie trên

In [2]:
vector = [20, 17, 32, 19, 65]
series = pd.Series(vector)
series.index = ['A', 'B', 'C', 'D', 'E']
value_second_row = series['B']
last_three_values = series.tail(3)
print("Series:\n", series)
print("\nGiá trị ở dòng thứ 2: ", value_second_row)
print("\n3 dòng cuối của series:\n", last_three_values)

Series:
 A    20
B    17
C    32
D    19
E    65
dtype: int64

Giá trị ở dòng thứ 2:  17

3 dòng cuối của series:
 C    32
D    19
E    65
dtype: int64

In [9]:
lis = [
    [111,"hong",20]
    ,[222,"Tai",19]
    ,[333,"Tam",23]
    ,[444,"Phuong",22]
    ,[555,"Huy",21]
]
df = pd.DataFrame(lis, columns=['MSSV', 'HoTen', 'Tuoi'])
series = pd.Series(lis)
series.index = ['SV1','SV2','SV3','SV4','SV5']
print(series)
print(df)
print(series.)

SV1      [111, hong, 20]
SV2       [222, Tai, 19]
SV3       [333, Tam, 23]
SV4    [444, Phuong, 22]
SV5       [555, Huy, 21]
dtype: object
   MSSV   HoTen  Tuoi
0   111    hong    20
1   222     Tai    19
2   333     Tam    23
3   444  Phuong    22
4   555     Huy    21